<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<style>

</style>

<body>
    <div id="app">

        <!-- 头部 -->
        <header class="bar bar-nav">
            <a @click="isSelect = !isSelect" class="icon icon-app pull-left"></a>
            <a @click='isInsertShow=!isInsertShow' class="icon icon-edit pull-right"></a>
            <h1 class="title">toDolist</h1>
        </header>
        <!-- todos显示区域 -->
        <div class="content">
            <p v-if="showTodos.length==0">空空如也，快来添加一条吧</p>
            <div class="card" :class="{finished:todo.isFinished,select:isSelect,normal:!isSelect}" v-for="(todo,i) of showTodos" :key="todo.id">
                <div class="check-box">
                    <input type="checkbox" v-model="todo.isSelected">

                </div>

                <div class="card-content todo-card">
                    <div @click="modify(todo.id)" class="card-content-inner todo-content">{{todo.content}}</div>
                    <div class="control-box">

                        <button @click="finish(todo.id)" :class="{'button-fill':todo.isFinished}" class="button button-small button-success">
                            <span class="icon icon-check"></span>
                        </button>

                        <button @click="remove(todo.id)" class="button button-fill button-small button-danger">
                            <span class="icon icon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 底部切换显示类型 -->
        <nav v-if="isSelect" class="bar bar-tab">
            <div @click="controlSelected(1)" :class="['circle','all active']">F</div>
            <div @click="controlSelected(2)" :class="['circle','finish active']">U</div>
            <div @click="controlSelected(3)" :class="['circle','unfinish active']">R</div>
            <div @click="isSelect=false" :class="['circle','all active']">取消</div>
        </nav>


        <nav v-else class="bar bar-tab ">
            <div v-for="type of types" @click="showType=type.type" :class="['circle',type.type,showType==type.type?'active':'']">
                {{type.content}}
            </div>
        </nav>




        <!-- 增加新内容 -->
        <div class="mask" v-if="isModifyShow">
            <div class="insert-box">
                <textarea v-model='newtodo'></textarea>

                <div class="btn-box">
                    <button @click='isModify()' class="button button-fill button-success">完成</button>
                    <button @click='isModifyShow=false' class="button button-fill button-danger">取消</button>
                </div>

            </div>
        </div>

        <div class="mask" v-if="isInsertShow">
            <div class="insert-box">
                <textarea v-model='newtodo'></textarea>

                <div class="btn-box">
                    <button @click='addNewTodo' class="button button-fill button-success">完成</button>
                    <button @click='isInsertShow=false' class="button button-fill button-danger">取消</button>
                </div>

            </div>
        </div>


    </div>
    <script src="vue.js"></script>
    <script src="index.js"></script>

</body>

</html>